:markdown

  ## Responsibilities

  * Conduct market research to understand buyer personas, competitive landscape, and other data to help influence marketing, sales, and product decisions.
  * Own sales enablement materials and training.
  * Work with product and engineering to craft the enterprise story for new and existing features.
  * Work with sales, demand generation, and content marketing to create content and campaigns that is geared to our enterprise audience.
  * Help technical writing and engineering to create documentation that address audience needs.
